<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mi página web</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div class= "color">
<div class="tittle"><h1>Jungapeo.
<img src="https://mossjon314159.files.wordpress.com/2014/01/theoneringinscriptionwithtolkienssymbol_zpse18b2086.png"border=0 width="100" height="100"><div class="date">March 12 2017</div></h1></div>

<div class="table"> <table>
  
   <tbody>
    <tr>
      <td><img src="http://www.nndb.com/people/511/000022445/jrrtolkien.jpg"border=8 width="300" height="400"></td>
      <td><pa><br><br><br><br><br><br><br><br><br>John Ronald Reuel Tolkien, conocido popularmente como J.R.R. Tolkien, nació el 3 de enero de 1892 en la ciudad de Bloemfontein, en el estado libre de Orange, en la República Sudafricana. Sus padres eran Arthur Reuel Tolkien y Mabel Suffield. Por una tradición familiar, el pequeño recibió el mismo nombre que el de su abuelo paterno, John. Su segundo nombre, Ronald, fue idea de su madre, quien estaba convencida de que iba a ser una niña a la que quería llamar Rosalind. Finalmente, el nombre elegido como sustituto fue el de Ronald. Por último, también recibió el segundo nombre de su padre, Reuel, palabra derivada del antiguo hebreo cuyo significado es “próximo a Dios”. Un dato curioso de la infancia del pequeño John, recogido por Humphrey Carpenter en “J.R.R. Tolkien: Una Biografía” (publicada en España por Ediciones Minotauro), es que le picó una tarántula en el jardín de su casa en Bloemfontein. Cuando el pequeño John contaba apenas 3 años, en 1895, su madre, Mabel, agotada por el riguroso clima sudafricano, decidió regresar a Inglaterra con sus hijos, John (cuya salud también se vio afectada por el clima) y Hilary, que había nacido el 17 de febrero de 1894.

Arthur, padre de John, se quedó en Sudáfrica al cargo de la venta de diamantes y otras piedras preciosas al Banco de Inglaterra. Sin embargo, Arthur falleció el 15 de febrero de 1896 a causa de una fiebre reumática. Después de tan trágica pérdida y sin ingresos, Mabel se fue a vivir con sus hijos junto a su familia en Birmingham, mudándose ese mismo año a la vecina localidad de Sarehole. La gran belleza de la campiña inglesa cautivó a John desde el primer momento, causándole una gran impresión, como queda patente en sus escritos. La madre de John, Mabel, se hizo cargo de su educación, enseñándole las bases del latín cuando apenas contaba 4 años, edad a la que el pequeño John ya sabía leer, y poco después, escribir de forma fluida. A tan tierna edad, ya se despertó en John su curiosidad y amor hacia los idiomas, pues uno de sus entretenimientos favoritos era el de inventar algunos idiomas propios.

Cuando apenas contaba 12 años, John fue golpeado nuevamente por la tragedia, pues su madre Mabel falleció en 1904 a causa de unas complicaciones de la diabetes que padecía. John y su hermano pequeño, Hilary, quedaron entonces al cuidado del padre Francis Xavier Morgan, sacerdote católico (de origen jerezano) del Oratorio de Birmingham. John contaba 16 años cuando, estando aún en el orfanato, conoció a la que se convertiría en el amor de su vida: Edith Mary Bratt. Sin embargo, John no pudo acercarse a ella hasta cumplir los 21 años a causa del padre Francis, quien le prohibió que mantuviera ningún contacto con la joven hasta esa edad. Con el paso de los años, John continuaba demostrando sus aptitudes lingüísticas, desarrollando lenguajes más elaborados mientras asistía a la King Edward’s School. En la escuela formó junto a sus amigos la Tea Club and Barrovian Society (T.C.B.S.), una hermandad que solía reunirse en los grandes almacenes Barrow para tomar el té (de ahí su nombre), charlar, divertirse, recitar a los clásicos o sus propias composiciones.</p></td>
</tr>
    </tbody>
 </div>
  </table>
  <h2>This are some books Tolkien wrote!!</h2>
<table>
<thead>
      <tr>
        <th>The Silmarillon</th>
        <th>The Hobbit</th>
        <th>The Lord Of The Rings</th>
        <th>Roverandom</th>
        <th>The Children Of Hurin</th>
        <th>Leaf Of Niggle</th>
        <th>Farmer Giles Of Ham</th>
        <th>The Adventures Of Tom Bombaldi</th>
      </tr>
  </thead>
  <tbody>
<tr>
<td><img src="https://images-na.ssl-images-amazon.com/images/I/41sJJ1LDxRL.jpg"border="0" width="180" height="220"></td>
<td><img src="https://upload.wikimedia.org/wikipedia/en/3/30/Hobbit_cover.JPG"border="0" width="180" height="220"></td>    
<td><img src="http://cdn.collider.com/wp-content/uploads/2016/07/the-lord-of-the-rings-book-cover.jpg"border="0" width="180" height="220"></td>  
<td><img src="https://images-na.ssl-images-amazon.com/images/I/713MEgoVf5L.jpg"border="0" width="180" height="220"></td>    
<td><img src="https://upload.wikimedia.org/wikipedia/en/8/85/The_Children_of_Hurin_cover.jpg"border="0" width="180" height="220"></td>    
<td><img src="https://images-na.ssl-images-amazon.com/images/I/519R31ouYTL._SX310_BO1,204,203,200_.jpg"border="0" width="180" height="220"></td>   
<td><img src="http://tolkiengateway.net/w/images/thumb/4/4f/Farmer_Giles_of_Ham_60th.jpg/180px-Farmer_Giles_of_Ham_60th.jpg"border="0" width="180" height="220"></td>   
<td><img src="https://images-na.ssl-images-amazon.com/images/I/512RWD0FTVL.jpg"border="0" width="180" height="220"></td>   
</tr>
</table>
  <div class="timeline">
<ul>
    <li> <p>    1857  - Birth of Arthur Reuel Tolkien, Tolkien’s father, in Birmingham.</p>
      </li>      
      <li><p>  1870 -Birth of Mabel Suffield, Tolkien’s mother, in Birmingham.</p>
      </li>      
      <li><p>21 January 1889  - Birth of Edith Mary Bratt, Tolkien’s future wife, in Gloucester.</p>
      </li>      
      <li><p> April 1891-16  Arthur Tolkien and Mabel Suffield get married in Cape Town Cathedral.</p>
      </li>      
      <li><p>January 1892- 3   Birth of John Ronald Reuel Tolkien in Bloemfontein, Orange Free State (now part of South Africa).</p>
      </li>      
      <li><p>February 1894 -17  Birth of Tolkien’s younger brother, Hilary.</p>
      </li>      
      <li><p> Spring 1895-  Mabel Tolkien returns to England with her two boys.</p>
      </li>      
      <li><p>15 February 1896-   Death of Arthur Tolkien in Bloemfontein.</p>
      </li>      
      <li><p> Summer 1896-  Mabel Tolkien rents a cottage near Sarehole Mill, Moseley, on the outskirts of Birmingham.</p>
      </li>      
      <li><p>June 1900 -  Mabel is accepted into the Roman Catholic Church.</p>
      </li>      
      <li><p> Autumn 1900- Tolkien attends King Edward’s School, Birmingham as a fee-paying student, but he does not attend in December.</p>
      </li>      
      <li><p>   c. 1901- Mabel and her boys move to King’s Heath, another suburb of Birmingham.</p>
      </li>      
      <li><p>  1902- The Tolkiens move to Edgbaston, Birmingham. The boys are enrolled at St Philip’s Grammar School, but later in the year Ronald is educated at home.</p>
      </li>      
      <li><p> January 1903-  Tolkien attends King Edward’s School again, this time on a scholarship.</p>
      </li> 
      <li><p> Spring 1904-  Mabel is diagnosed with diabetes, and is hospitalised for a few weeks. She dies in November. Ronald and his brother Hilary become wards of Father Morgan, a priest at the Birmingham Oratory.</p>
      </li>      
      <li><p> 1905 - Aunt Beatrice accepts the boys into her home in Stirling Road.</p>
      </li>      
      <li><p>    Autumn Term 1907 - Tolkien probably invents his private language ‘Naffarin’ based on Spanish and Latin.</p>
      </li>      
     <li><p>  1908-  The boys move to Duchess Road and live with Mrs. Faulkner. Tolkien meets Edith Bratt, another lodger.</p>
      </li>      
   <li><p>  Autumn 1909-  Father Francis Morgan discovers the romance between Tolkien and Edith. Ronald fails a scholarship to Oxford.</p>
      </li>      
   <li><p> January 1910  -The Tolkien brothers move to new lodgings where Ronald’s romance with Edith continues until Father Francis forbids him to communicate with her.</p>
      </li>      
   <li><p>   March 1910 -  Edith moves to Cheltenham.</p>
      </li>      
   <li><p> 4 November 1910 - Tolkien speaks in his school debating society deploring the occurrence of the Norman Conquest.</p>
      </li>      
         <li><p> 17 December 1910-  Tolkien obtains a scholarship at Oxford’s Exeter College.</p>
      </li>      
   <li><p>  March 1911 -  Tolkien’s poem ‘The Battle of the Eastern Field’ is printed in the King Edward’s School Chronicle.</p>
      </li>      
       <li><p> Summer Term 1911 -  Tolkien becomes school librarian, and the T.C.B.S. is formed.</p>
      </li>      
   <li><p>  August 1911- Tolkien visits Switzerland before starting university.</p>
      </li>     
    <li><p>  1919-  Tolkien works as a freelance tutor in addition to work for the Oxford English Dictionary. He probably writes an early version of ‘The Chaining of Melko’, ‘The Coming of the Elves and the Making of Kôr’ and ‘The Theft of Melkor and the Darkening of Valinor’.</p>
    </li>
    <li><p>10 March 1920-    Tolkien reads a shortened version of ‘The Fall of Gondolin’ to the Exeter College Essay Club.</p>
    </li>
        <li><p>  Autumn 1920 -   He begins work as a Reader in English Language at Leeds University. Michael, the Tolkiens’ second son is born on 22 October.</p>
    </li>
        <li><p> December 1920-    Tolkien writes a letter to John as if from Father Christmas, which is the first of The Father Christmas Letters.</p>
    </li>
        <li><p>  March 1921  -     Tolkien finds suitable rented rooms in Headingley, Leeds for his family, who move up from Oxford to join him a few weeks later. Tolkien may have begun an alliterative poetic version of The Children of Húrin once he was settled in Leeds.</p>
    </li>
        <li><p>    Late August 1921-    The Tolkiens move nearer to Leeds University at St Mark’s Terrace, Woodhouse Lane.</p>
    </li>
        <li><p> -    Tolkien and E.V. Gordon begin work on their edition of Sir Gawain and the Green Knight.
    </li>
        <li><p>11 May 1922-     A Middle English Vocabulary is published. Tolkien and E.V. Gordon begin work on their edition of Sir Gawain and the Green Knight.</p>
    </li>
        <li><p> Summer 1923-   Convalescing from pneumonia on his brother’s farm, Tolkien turns to his mythology again, and probably works on an early form of Qenya.</p>
    </li>
        <li><p>  Oct/Nov 1923-   ‘The Cat and the Fiddle: A Nursery-Rhyme Undone and its Scandalous Secret Unlocked’ is published in Yorkshire Poetry.</p>
    </li>
        <li><p> December 1923-    The Father Christmas Letters become more elaborate.</p>
    </li>
        <li><p>   17 March 1924-   The Tolkiens move into a three-storey house in Darnley Road, West Park, Leeds.</p>
    </li>
        <li><p>  May 1924-      Tolkien writes the poem ‘The Nameless Land’.</p>
    </li>
        <li><p>  16 July 1924-    Tolkien is appointed as Professor of English Language at Leeds University.</p>
    </li>
        <li><p>  21 November 1924 -     Christopher, the Tolkiens’ third son is born.</p>
    </li>
        <li><p>   Early 1925 -    Tolkien works on the alliterative poem ‘The Flight of the Noldoli from Valinor’.</p>
    </li>
        <li><p>   23 April 1925-     Tolkien and E.V. Gordon’s edition of Sir Gawain and the Green Knight is published by the Clarendon Press.</p>
    </li>
        <li><p>June 1925-      Publication of the poem ‘Light as Leaf on Lindentree’ in The Gryphon.
    </li>
        <li><p>Summer 1925 -      Tolkien begins work on the Lay of Leithian.</p>
    </li>
        <li><p>   Early Sep 1925-   On holiday in Filey, Yorkshire, Tolkien relates the story of a toy dog, ‘Rover’, which is posthumously published as Roverandom.</p>
    </li>
        <li> <p>Autumn 1925-    Tolkien takes up an appointment as Rawlinson and Bosworth Professor of Anglo-Saxon at Oxford. He purchases a house in Oxford.</p>
    </li>
        <li><p> January 1926 -   7  The Tolkien family move to 22 Northmoor Road, Oxford.</p>
    </li>
        <li><p> 1 July 1937-     Beowulf: The Monsters and the Critics is published.</p>
    </li>
        <li><p>21 September 1937 -    The Hobbit is published. Because of its success, Stanley Unwin subsequently urges Tolkien to write a sequel, which he begins. This is the germ of The Lord of the Rings.</p>
    </li>
        <li><p>   15 Nov-19 Dec 1937-     Tolkien resumes work on the Quenta Silmarillion, but abandons this to work on ‘The new Hobbit’.</p>
    </li>
        <li><p> 14 January 1938-    Tolkien’s talk Anglo-Saxon Verse is broadcast on BBC Radio.</p>
    </li>
        <li><p>   14 February 1938 -   Tolkien reads an expanded early version of Farmer Giles of Ham to the Lovelace Society.</p>
    </li>
        <li><p>    4 March 1938 -    Before this date the Black Riders have appeared during the writing of The Lord of the Rings.</p>
    </li>
        <li><p>Late August 1938 -  The narrative has reached the seventh chapter – the Hobbits arrival at the Prancing Pony.</p>
    </li>
        <li><p>  1-15 Sep 1938 -    Tolkien continues writing and reaches Rivendell.</p>
    </li>
    <li><p>  15 Sept-Oct 1938-     Tolkien rewrites earlier parts of the narrative, and continues to alter the names of the Hobbits.</p>
    </li>
        <li><p> 27-29 March 1939-     Tolkien in London does 3 days’ code and cipher training.</p>
    </li>
        <li><p>   8 March 1939-     At St. Andrews University, Scotland, Tolkien gives his lecture On Fairy-Stories.</p>
    </li>
        <li><p>  Autumn 1939-  Charles Williams starts attending meetings of ‘The Inklings’. Tolkien works on early versions of ‘The Council of Elrond’, ‘The Ring Goes South’, and a first draft of ‘The Mines of Moria’.</p>
    </li>
        <li><p>  26-7 August 1940-      Tolkien invents Saruman as a reason for Gandalf’s delay in reaching Bag End in The Lord of the Rings.</p>
    </li>
        <li><p>  Autumn 1940  -    He rewrites many sections of The Fellowship of the Ring before taking the narrative beyond Balin’s tomb in Moria.</p>
    </li>
        <li><p>  Late 1941 -  Tolkien works on the Lothlórien chapters and the first versions of ‘The Breaking of the Fellowship’ and commences work on the early chapters of The Two Towers.</p>
    </li>
        <li><p> 9 February 1942 -    After this date ‘The King of the Golden Hall’ is written.</p>
    </li>
        <li><p>  c. April 1942 -     Tolkien writes Leaf by Niggle.</p>
    </li>
        <li><p>  Mid 1942 -  Tolkien writes what becomes ‘Helm’s Deep’, ‘The Road to Isengard’, ‘Flotsam and Jetsam’, ‘The Voice of Saruman’, and ‘The Palantír’.</p>
    </li>
        <li><p>   1943  -    Tolkien is busy with university duties, work as an air-raid warden plus other distractions and is unable to work on The Lord of the Rings.</p>
    </li>
        <li><p>  December 1943 -     Tolkien writes his final Father Christmas Letter to Priscilla.</p>
    </li>
        <li><p>April 1944 -      Tolkien works on ‘The Taming of Sméagol’, ‘The Passage of the Marshes’, ‘The Black Gate is Closed’ and ‘Of Herbs and Stewed Rabbit’.</p>
    </li>
        <li><p>  May 1944 -    Tolkien writes early versions of the later chapters ‘The Window on the West’, The Forbidden Pool’, ‘Journey to the Cross-Roads’, ‘The Stairs of Cirith Ungol’, ‘Shelob’s Lair’ and ‘The Choices of Master Samwise’.</p>
    </li>
        <li><p>   January 1945 -   Leaf by Niggle is published in the Dublin Review.</p>
    </li>
        <li><p>     23 June 1945 -   Tolkien becomes Oxford’s Merton Professor of English Language and Literature.</p>
    </li>
        <li><p>   December 1945-    The Lay of Aotrou and Itroun appears in the Welsh Review.</p>
    </li>
        <li><p>   Christmas 194-  5  Tolkien works on The Notion Club Papers.</p>
    </li>
        <li><p> Summer 1946 -   Tolkien reads his newly-completed The Drowning of Anadûnê to his son, Christopher.</p>
    </li>
        <li><p> Autumn 1946  - Tolkien works on the chapters ‘Minas Tirith’, ‘The Passing of the Grey Company’, ‘The Muster of Rohan’, ‘The Siege of Gondor’, ‘The Battle of the Pelennor Fields’ ‘The Pyre of Denethor’, ‘The Houses of Healing’,‘The Last Debate’ and ‘The Black Gate Opens’.</p>
    </li>
        <li><p>  March 1947 -   The Tolkien family move to Manor Road, Oxford.</p>
    </li>
        <li><p>   4 December 1947 -    On Fairy-Stories is published in Essays Presented to Charles Williams.</p>
    </li>
        <li><p>  Aug-Sep 1948 -     Tolkien drafts the chapters ‘The Land of Shadow’, ‘Mount Doom’, ‘The Field of Cormallen’, ‘The Steward and the King’, ‘Many Partings’, ‘Homeward Bound’, ‘The Scouring of the Shire’ and ‘The Grey Havens’.</p>
    </li>
        <li><p>  Autumn 1948-    Tolkien probably writes a new version of The Downfall of Númenor.</p>
    </li>
        <li><p>   Feb-Oct 1949  -  Tolkien types up The Lord of the Rings making corrections as he works.</p>
    </li>
        <li><p>   c. Autumn 1949-      Tolkien begins negotiations with Milton Waldman at the publishers Collins about publishing The Lord of the Rings.</p>
    </li>
        <li><p>   20 October 1949 -    Farmer Giles of Ham is published.</p>
    </li>
        <li><p>Winter 1949  -   Tolkien resumes work on The Lay of Leithian.</p>
    </li>
        <li><p>  Early 1950  -   Tolkien resumes work on the Quenta Silmarillion including ‘Of Valinor and the Two Trees’, ‘Of the Coming of the Elves’ and ‘Of Men and Dwarves’.</p>
    </li>
        <li><p>   Autumn 1959 -  Tolkien probably works on ‘The Converse of Manwë and Eru’, ‘Athrabeth Finrod ah Andreth’ and the ‘Reincarnation of Elves’.</p>
    </li>
        <li><p>  Early 1960 -   Tolkien probably works on ‘Quendi and Eldar’, ‘Cuivienyarna’ and the fragments ‘Orcs’, ‘The Elessar’, and ‘Concerning Galadriel and Celeborn’.</p>
    </li>
        <li><p>  March 1960-     Tolkien probably writes ‘Aldarion and Erendis’, ‘A Description of the Isle of Númenor’ and ‘The Line of Elros: Kings of Númenor’.</p>
    </li>
        <li><p>  26 October 1961 -  The Puffin paperback edition of The Hobbit is published.</p>
    </li>
        <li><p>  22 November 1962 -    The Adventures of Tom Bombadil is published.</p>
    </li>
        <li><p> 12 December 1962 -    An interview with Tolkien is broadcast on BBC TV.</p>
    </li>
        <li><p>   8 July 1963 -    Tolkien’s lecture English and Welsh is published.</p>
    </li>
        <li><p>  22 November 1963 -  Death of C.S. Lewis.</p>
    </li>
        <li><p> 28 May 1964-     Tree and Leaf is published.</p>
    </li>
        <li><p> January 1965-      Tolkien expands Aldarion and Erendis.</p>
    </li>
        <li><p>20 January 1965 -    Tolkien is interviewed for 2 hours by Denys Gueroult.</p>
    </li>
        <li><p>   -    The Tolkien Society of America is formed.</p>
    </li>
        <li><p>   c. May 1965-     The Fellowship of the Ring is published in an unauthorised American paperback version by Ace books.</p>
    </li>
        <li><p> late May 1965 -    Tolkien reworks his translation of Sir Gawain and the Green Knight.</p>
    </li>
        <li><p> Summer 1965 -     Tolkien has to spend a lot of time revising the text of The Lord of the Rings to establish copyright in the US.</p>
    </li>
        <li><p> July 1965-     Unauthorised paperbacks of The Two Towers and The Return of the King are published by Ace books.</p>
    </li>
        <li><p>   August 1965 -    -Tolkien expands ‘The Heirs of Elendil’ for Appendix A.</p>
    </li>
        <li><p>   Oct-Dec 1965-    Ballantine Books publish the 3 paperback volumes of the revised text of The Lord of the Rings.</p>
    </li>
        <li><p>  1966-      The Jerusalem Bible is published, which includes Tolkien’s translation of the book of Jonah.</p>
    </li>
        <li><p>    22-3 March 1966-   The Tolkiens celebrate their Golden Wedding and enjoy a performance of Donald Swann’s song-cycle of The Road Goes Ever on.</p>
    </li>
        <li><p>C  c. Jun-Sep 1966 -     lyde S. Kilby attempts to assist Tolkien with the ‘Silmarillion’ material.</p>
    </li>
        <li><p> 7 August 1966 -   Tolkien is photographed by Pamela Chandler for the second time, this time entirely in colour.</p>
    </li>
        <li><p> September 1966 -    Publication of The Tolkien Reader.</p>
    </li>
        <li><p>    14 Sep – 6 Oct 1966-   The Tolkiens cruise round the Mediterranean, as far as Venice and back.</p>
    </li>
        <li><p> 27 October 1966-    The second edition of The Lord of the Rings is published.</p>
    </li>
        <li><p> November 1966 -   The Royal Society for Literature awards Tolkien the A.C. Benson silver medal for outstanding services to literature.</p>
    </li>
        <li><p>   16 January 1967-     Tolkien has finished Nomenclature of The Lord of the Rings by this date.</p>
    </li>
        <li><p>  c. March 1967 -    Humphrey Carpenter visits Tolkien, and later describes the encounter in his biography.</p>
    </li>
        <li><p>15 June 1967 -     Tolkien makes recordings of poems at home for Caedmon records.</p>
    </li>
        <li><p> 31 October 1967 -     The Road Goes Ever On is published in the US.</p>
    </li>
        <li><p>  9 November 1967-    Smith of Wootton Major is published.</p>
    </li>
        <l><p>   8 January 1968 -     Tolkien makes a final typescript of ‘The New Shadow’.</p>
    </li>
        <li><p>  5-9 February 1968-  The BBC film Tolkien in various Oxford locations.</p>
    </li>
        <li><p>   -30 March 1968   The documentary Tolkien in Oxford is broadcast on BBC TV.</p>
    </li>
        <li><p>  Summer 1968 -  Ronald and Edith move to Poole, near Bournemouth. Tolkien has a bad fall and is hospitalised for over a month.</p>
    </li>
        <li><p> October 1968  -    While helping Tolkien with his new office and library, Joy Hill finds the manuscript of Bilbo’s Last Song. Tolkien may have written ‘The Shibboleth of Fëanor’ about this time.</p>
    </li>
        <li><p>  July 1969 -   Tolkien probably writes ‘The Disaster of the Gladden Fields’, ‘Cirion and Eorl’ and ‘Part of the Legend of Amroth and Nimrodel’.</p>
    </li>
        <li><p>  6 November 1969 -   The ‘informal’ beginning of The Tolkien Society.</p>
    </li>
        <li><p>    Early 1970 -  Tolkien makes some changes to the story ‘Of Maeglin’.</p>
    </li>
        <li><p>   2 May 1970-    Tolkien receives an honorary D.Litt from Nottingham University.</p>
    </li>
        <li><p>  July 1970 -   Allen  Unwin produce the poster A Map of Middle-Earth by Pauline Baynes.</p>
    </li>
        <li><p>  16 December 1970   -   Tolkien’s 1965 interview with Denys Gueroult is broadcast on BBC radio for the first time.</p>
    </li>
        <li><p>    25 May 1971-   Tolkien is photographed by Lord Snowdon.</p>
    </li>
        <li><p> 29 November 1971-   Death of Edith Tolkien.</p>
    </li>
        <li><p>  1 January 1972 -    Tolkien is awarded a CBE in the New Year’s honours list.</p>
    </li>
        <li><p>   13 March 1972 -   Tolkien moves to rooms in 21 Merton Street, Oxford.</p>
    </li>
        <li><p> 28 March 1972-     Tolkien receives his CBE from the Queen at Buckingham Palace.</p>
    </li>
        <li><p>   3 June 1972-   He is awarded an honorary Doctorate of Letters by Oxford University.</p>
    </li>
        <li><p>  27 June 1972-     The Tolkien Society’s founder, Vera Chapman, meets Tolkien at a reception at Allen and Unwin’s offices in London. Tolkien consents to becoming the Society’s Honorary President and states, “If I can help your society in any way, I will.”</p>
    </li>
        <li><p>   Nov/Dec 1972-     Tolkien probably wrote material which was later published as ‘Glorfindel’ and ‘Círdan’.</p>
    </li>
        <li><p> 2 July 1973   -    Tolkien receives an honorary degree of Doctor of Letters from Edinburgh University.</p>
    </li>
        <li><p>August 1973 -     Tolkien writes about Galadriel and Celeborn – probably the final addition to his legendarium.</p>
    </li>
        <li><p>   2 September 1973 -    Death of J.R.R. Tolkien from a stomach ulcer.</p>
    </li>

        </ul>
  </div>
  <div class=phrase>
  <h2>“The realm of fairy-story is wide and deep and high and filled with many things: all manner of beasts and birds are found there; shoreless seas and stars uncounted; beauty that is an enchantment, and an ever-present peril; both joy and sorrow as sharp as swords.” <strong>-J.R.R Tolkien</strong></h2></div>
  <p> Learn more about Tolkien <a href=https://es.wikipedia.org/wiki/J._R._R._Tolkien><strong>here</strong></a></p>
  <p><center>This was made by Andre Hernandez Rosado</center></p>
</tbody>
</table>
</div>  
</div>
  </body>
</html>
